/*--------GENERAL-SETTINGS-------*/
body{
    font-size: 15px;
    font-family: 'Spartan', sans-serif;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    min-height: 100vh;
    align-items: center;
}

/*-----------TITLE-SECTION-----------*/
#title_section h1{
    font-weight: 700;
    font-size: 3.75em;
    line-height: 1em;
    letter-spacing: -4px;
    color: hsl(300, 43%, 22%);
}

#title_section p{
    font-size: 1.2em;
    font-weight: 500;
    letter-spacing: -1px;
    color: hsl(333, 80%, 67%);
}
/*-----------RATING-SECTION-----------*/
#rating{
    text-align: center;
    justify-content: center;
}
#rating div {
    background-color:hsl(300, 24%, 96%);
    border-radius: 0.5rem;
    font-weight: 700;
    color: hsl(300, 43%, 22%);
    margin-top: 1.25em;
    padding: 1em 2em 1em 0;
}

#rating span{
    margin-left: 1em;
}

#rating img{
    vertical-align: top;
    padding: 0 1px;
}
/*-----------COMMENT-SECTION-----------*/
.user-card{
    background-color: hsl(300, 43%, 22%);
    border-radius: 0.7em;
}

.user-name, .user-comment{
    color: hsl(300, 24%, 96%);
}

.user-position{
    color:hsl(333, 80%, 67%);
}

.user-card img{
    border-radius: 50%;
    transform: scale(0.7, 0.7);
    float: left;
}

.user-name {
    font-weight: 700;
    margin-top: 1.3em;
    display:block;
}

